build
dist / media
node_modules
.DS_Store
.env
app.env
deploy.env
shared/app.env
shared/deploy.env
.next
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
