NODE_ENV=production

DATABASE_URI=postgresql://templatecms_user:CHANGE_ME@127.0.0.1:5432/template_sharptier_cms
DATABASE_URL=postgresql://templatecms_user:CHANGE_ME@127.0.0.1:5432/template_sharptier_cms

PAYLOAD_SECRET=CHANGE_ME
CRON_SECRET=CHANGE_ME
PREVIEW_SECRET=CHANGE_ME

NEXT_PUBLIC_SERVER_URL=https://template.sharptier.com
