APP_DIR=/home/template-sharptier-cms
CMS_DOMAIN=template.sharptier.com
NODE_ENV=production

PAYLOAD_SECRET=CHANGE_ME
PAYLOAD_ADMIN_EMAIL=admin@sharptier.com
PAYLOAD_ADMIN_PASSWORD=CHANGE_ME

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=templatecms_user
DB_NAME=template_sharptier_cms
DB_PASSWORD=CHANGE_ME
DATABASE_URI=postgresql://templatecms_user:CHANGE_ME@127.0.0.1:5432/template_sharptier_cms
DATABASE_URL=postgresql://templatecms_user:CHANGE_ME@127.0.0.1:5432/template_sharptier_cms

PUBLIC_SITE_URL=https://template.sharptier.com
PUBLIC_API_BASE_URL=https://template.sharptier.com/api
